* {
	margin: 0;
	padding: 10;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	background-color: #282c34;
	color: #fefefe;
	}

header {
	padding: 20px;
	text-align: center;
	background: #1a1a1a;
	color: white;
	font-size: 30px;
	animation: slideIn 1s ease-out;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	animation: fadeIn 1.5s ease-in-out;
}
  
nav ul li {
	margin: 0 20px;
}

nav ul li a {
	color: #fefefe;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1rem;
	transition: color 0.3s ease;
}

nav ul li a:hover {
	color: #fefefe;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
